.bubbles {
    position: relative;
    display: flex;
}

.bubbles span {
    position: relative;
    width: 10px;
    height: 10px;
    background-color: azure;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgb(209, 211, 224),
        0 0 5px rgb(255, 250, 250),
        0 0 1px rgb(255, 250, 250);
    opacity: 0;
    animation: animate 15s linear infinite;
    animation-duration: calc(50s/var(--i));

}


@keyframes animate {
    0% {
        opacity: 1;
        transform: translateY(200px) scale(0);
    }


    100% {
        transform: translateY(0px) scale(1);
    }
}

.red {
    background-color: red;
}